<div class="row">
<div class= " col sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container-fluid ">
        <h1>Educación y capacitación</h1>
        <h3>Educación1</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam nemo fugit deserunt architecto provident maiores soluta natus. Provident fugit, fugiat porro dolorem laboriosam cupiditate illo neque velit rerum fuga quod.</p>
        <h3>Educación1</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam nemo fugit deserunt architecto provident maiores soluta natus. Provident fugit, fugiat porro dolorem laboriosam cupiditate illo neque velit rerum fuga quod.</p>
        <h3>Educación1</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam nemo fugit deserunt architecto provident maiores soluta natus. Provident fugit, fugiat porro dolorem laboriosam cupiditate illo neque velit rerum fuga quod.</p>
        
    </div>
</div>
</div>
