<div class="row">

  <div class="container-fluid">
    <h1>Hard and Soft skills</h1>
    <div class="circle">
      <circle-progress
        [percent]="55"
        [title]="'HTML'"
        [titleColor]="'white'"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#660033'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [showSubtitle]="false"
        [showUnits]="false"
      ></circle-progress>
    
    
      <circle-progress
        [percent]="60"
        [title]="'CSS'"
        [titleColor]="'white'"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#660033'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [showSubtitle]="false"
        [showUnits]="false"
      ></circle-progress>
    
    
      <circle-progress
        [percent]="30"
        [title]="'JAVASCRIPT'"
        [titleColor]="'white'"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#660033'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [showSubtitle]="false"
        [showUnits]="false"
      ></circle-progress>
    
    
      <circle-progress
        [percent]="60"
        [title]="'GIT'"
        [titleColor]="'white'"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#660033'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [showSubtitle]="false"
        [showUnits]="false"
      ></circle-progress>
    </div>
  </div>
</div>
