.row {
  
background-color: #001133;
color: white;
}

.container {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;

}

.nombre {
    display: flex;
    flex-direction: column;
}

.descripcion {
    display:flex;
    align-content: center;
    padding: 40px;
    flex-flow: column wrap;
}

img {
   
    border-radius: 100% ;
    border: 1px solid black;
  
}

p {
    
    margin: 20px;
}

@media (max-width: 575px) {
    img{
        width: 80px;
        height: 80px;
        margin: 10px;
        padding: 5px;
    }
}

@media (min-width: 575px) {
    img{
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 10px;
    }
}

